img {
    width: 750px;
    height:100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.carousel-item {
    position: relative;
    display: none;
    height: 205px;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s 
ease-in-out;
}