    .carousel-container-infinite {
    width: 100vw;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    }

    .carousel-track {
    display: flex;
    width: calc(100vw * 8);
    animation: scroll 50s linear infinite;
    }

    .carousel-image-container {
    position: relative;
    width: 100vw;
    height: 200px;
    flex-shrink: 0;
    }

    .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px;
    }

 .sticker {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: repeating-conic-gradient(
    from 0deg,
    #e60000 0deg 15deg,
    #c40000 15deg 30deg
  );
  color: #fff;
  font-weight: bold;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  padding: 10px;
  pointer-events: none;
  z-index: 10;
}



    @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100vw * 4));
    }
    }
